* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: radial-gradient(circle at top, #1c1c1f, #0f0f12);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

main {
    width: 500px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* FORMULÁRIO */
form {
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    padding: 14px;
    border-radius: 8px;
    border: none;
    background: #1f1f24;
    color: white;
    font-size: 16px;
}

input::placeholder {
    color: #8a8a8a;
}

/* BOTÃO */
.button {
    width: 120px;
    border-radius: 8px;
    border: none;
    background: #7c4dff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.button::before {
    content: "Adicionar";
}

.button:hover {
    opacity: 0.9;
}

/* LISTA */
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.guest {
    background: #1f1f24;
    padding: 16px;
    border-radius: 8px;
    font-size: 18px;
}

.guest span {
    font-weight: 600;
}
